*.sqlite*
.DS_Store
*.bak 
images/2025-ff-cologne/*.jpeg
images/2025-ff-cologne/*.jpg
images/2025-ff-cologne/*.JPG
images/2025-ff-cologne/*.zip
images/2025-ff-cologne/*.py
images/2025-ff-cologne/medium/*
images/202-ff-cologne/thumbs/*
images/2025-ff-cologne/thumbs/*

images/2023-ff-heidelberg/*.JPG
images/2023-ff-heidelberg/*.jpeg
images/2023-ff-heidelberg/*.jpg
images/2023-ff-heidelberg/*.zip
images/2023-ff-heidelberg/*.py
images/2023-ff-heidelberg/medium/*
images/2023-ff-heidelberg/thumbs/*

images/2019-ff-cochem/*.JPG
images/2019-ff-cochem/*.jpeg
images/2019-ff-cochem/*.jpg
images/2019-ff-cochem/*.zip
images/2019-ff-cochem/*.py
images/2019-ff-cochem/medium/*
images/2019-ff-cochem/thumbs/*

images/2013-ff-bad-camberg/*.JPG
images/2013-ff-bad-camberg/*.jpeg
images/2013-ff-bad-camberg/*.jpg
images/2013-ff-bad-camberg/*.zip
images/2013-ff-bad-camberg/*.py
images/2013-ff-bad-camberg/medium/*
images/2013-ff-bad-camberg/thumbs/*